@charset "UTF-8";
.fl {
  float: left;
}

.fr {
  float: right;
}

.clear {
  zoom: 1;
}

.clear:after {
  clear: both;
  content: "";
  display: block;
  height: 0;
  visibility: hidden;
}

/******************************* 重置Element Plus 开始 *******************************/
.el-popper.is-light {
  border: none !important;
}

/******************************* 重置Element Plus 结束 *******************************/
